<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <link rel="icon" type="image/svg+xml" href="/src/favicon.svg" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
    integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
  <title>LVP Landing App</title>
  <script type="module" crossorigin src="static/store-products/assets/index.975c6fd6.js"></script>
  <link rel="modulepreload" href="static/store-products/assets/vendor.ed9a3420.js">
  <link rel="stylesheet" href="static/store-products/assets/index.24071ee7.css">
</head>

<body>
  <div id="root"></div>

</body>

</html>