
*.pyc
env/

.vscode
*.vscode
*~ __pycache__
*.py[cod]
*$py.class
*~.pyc
!**/__pycache__/
**/__pycache__/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace