attrs==20.3.0
autopep8==1.5.6
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
clickclick==20.10.2
connexion==2.7.0
dnspython==2.1.0
email-validator==1.1.2
Flask==1.1.2
flask-mongoengine==1.0.0
Flask-WTF==0.14.3
gunicorn==20.1.0
idna==2.10
inflection==0.5.1
isodate==0.6.0
itsdangerous==1.1.0
Jinja2==2.11.3
jsonschema==3.2.0
MarkupSafe==1.1.1
mongoengine==0.23.0
openapi-schema-validator==0.1.5
openapi-spec-validator==0.3.0
pycodestyle==2.7.0
pymongo==3.11.3
pyrsistent==0.17.3
PyYAML==5.4.1
requests==2.25.1
six==1.15.0
toml==0.10.2
urllib3==1.26.4
Werkzeug==1.0.1
WTForms==2.3.3
