<!DOCTYPE html>
<html lang="es">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="sistemas a la medida para pequeñas medianas y grandes empresas.">
    <meta name="author" content="cristian gael valenzuela castro">

    <title>Desarrollo de software a la medida.</title>

    <!-- Bootstrap core CSS -->
    <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="static/css/scrolling-nav.css" rel="stylesheet">

<link href="static/fontawesome/css/all.css" rel="stylesheet">

</head>

<body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="#page-top">Desarrollo de software.</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#about">Acerca</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#services">Servicios</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#contact">Contacto</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="/admin">Login</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <header class="bg-primary text-white" style='background-color:#2c7a3e !important'>
        <div class="container text-center">
            <h1>Bienvenido a tu proximo sistema de control interno</h1>
            <p class="lead">El sistema que necesitas creado justo para ti...</p>
        </div>
    </header>

    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <h2><i class="far fa-file-code"></i> Acerca de nosotros</h2>
                    <p class="lead">
                        Somos una asociación de desarrolladores y diseñadores que creamos productos a la medida para pequeñas medianas y grandes
                        empresas, tu sistema multiplataforma a tu medida.
                    </p>
                    <ul>
                        <li>Tu sistema en la web, para que des a conocer tu empresa</li>
                        <li>Creamos el sistema para que controles tanto tus recursos internos como tu productos, empleados, servicios y tus
                        clientes.</li>
                        <li>Si necesitas una aplicación que funcione en diferentes plataformas la creamos a tu medida.</li>
                        <li>Los servicios que necesitas justo a la medida de tu empresa.</li>
                        <li>E-commerce creamos tu tienda virtual para llegar a más clientes.</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section id="services" class="bg-light">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <h2><i class="far fa-building"></i> Servicios que ofrecemos</h2>
                    <p class="lead">
                    Creamos sistemas web con las ultimas tecnologias, sistemas robustos para llevar tu empresa desde tu computadora hasta en
                    la palma de tu mano son aplicaciones web responsivas si necesitas una aplicación móvil para iphone android, tablet o pc,
                    la creamos a tu medida.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <h2> <i class="far fa-address-card"></i> Contacto</h2>
                    <p class="lead">Nos puedes encontrar en el pacifico de méxico en la ciudad de culiacán.</p>
                    <ul>
                        <li><i class="fab fa-whatsapp"></i> 6674509593</li>
                        <li><i class="far fa-envelope"></i> elgael06@gmail.com</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer class="py-5 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; MYA-APP.TECH 2021</p>
        </div>
        <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="static/vendor/jquery/jquery.min.js"></script>
    <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="static/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom JavaScript for this theme -->
    <script src="static/js/scrolling-nav.js"></script>

</body>

</html>